#infobox {
    border: solid #75755c;
    background-color: #d3d3b7;

    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: 10;
    
    width: 40%;
    margin: 15px;
    padding: 15px;

    font-family: "IM Fell English", serif;
    overflow-y: scroll;

    cursor: default;

    transition: right 500ms;

}

#infobox.hidden {
    right: -100%;
}

@media screen and (max-width: 992px) {
    #infobox {
        top: 50%;
        left: 0;
        width: calc(100% - 30px);

        transition: top 500ms;
    }

    #infobox.hidden {
        top: 100%;
    }
}

main {
    border: solid #75755c;
    background-color: #d3d3b7;
    box-sizing: border-box;
    
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 900px;
    min-height: calc(100vh - 30px);
    padding: 15px;


    font-family: "IM Fell English", serif;

    cursor: default;
}

#infobox .close-btn {
    position: inherit;
    top: 0;
    right: 0;
    margin: 5pt;
    color: #75755c;
}

.close-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* 
h1, h2 {
    font-family: "IM Fell English SC", serif;
    margin: 0;
    line-height: 1em;
}

h2 {
    font-weight: normal;
    text-transform: lowercase;
    line-height: 1em;
    color: #75755c;
}

h3 {
    margin: 0;
}

.main-title {
    font-size: 3em;
    text-align: center;

    border-bottom: solid #75755c 2pt;
    margin-bottom: 30px;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
}

.section:not(:first-of-type) {
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid #75755c 2pt;
} */