
body {
    margin: 0;
    font-family: "IM Fell English", serif;
    background-color: rgb(46, 45, 42);
}

.body[role=main] {
    border: solid #75755c;
    background-color: #d3d3b7;
    box-sizing: border-box;
    
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 900px;
    min-height: calc(100vh - 30px);
    padding: 15px;

    position: relative;
}

.body[role=main] > section > section {
    padding-left: 15px;
    padding-right: 15px;
}

.body[role=main] > section > section:not(:first-of-type) {
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid #75755c 2pt;
}

h1, h2, h2 + p {
    font-family: "IM Fell English SC", serif;
    margin: 0;
    line-height: 1em;
}

h1 {
    font-size: 3em;
    text-align: center;

    border-bottom: solid #75755c 2pt;
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
}

h2 + p {
    font-weight: normal;
    text-transform: lowercase;
    color: #75755c;
    font-size: 1.5em;
}

h3 {
    margin: 0;
}

.large-lc-text {
    font-size: 1.25em;
    font-weight: normal;
    pointer-events: none;
}

/* TODO: style navigation blocks */
[role=navigation] {
    display: none;
}

a.headerlink {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.4s;

    color: #75755c;
    padding-left: 5pt;

    font-weight: normal;
    text-decoration: none;
}

*:hover > a.headerlink {
    position: relative;
    opacity: 1;
}